
* {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    height: 77px; 
    width: 100%; /* 화면 넓이에 꽉 차게 하는 속성 */
    position: fixed; /*스크롤해도 항상 위에 고정시키는 속성 */
    top: 0; /*화면 가장 위에 위치시키는 속성 */
    z-index: 1; /* 배치 순서를 나타내는 속성, 숫자가 클 수록 앞에 보이게 됨 */
    background-color: white;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

.header_inner {
    max-width: 1010px;
    padding: 16px; 
    margin: auto;
    width: 100%;
    display: flex;
}

.logo {
    height: 46px;
    width: auto;
    flex: 1 9999 0%;
}

.logo_img {
    height: 100%;
    width: auto;
}

.search {
    height: 28px;
    width: 215px;
    margin: auto;
}

.search_box {
    height: 100%;
    width: 100%;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #999;
    cursor: text;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.button {
    display: flex; 
    flex-direction: row;
    flex: 1;
    justify-content: flex-end; 
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.icon {
    width: 22px;
    height: 22px;
    position: relative;
    margin-left: 15px;
    margin-right: 15px;
}

.feed {
    display: block;
    width: 400px;
    height: 600px;
    padding-left: 200px;
    padding-top: 150px;
}

.username {
    height: 20px;
    color: black;
    font-size: 15px;
    font-weight: bold;
    border: solid 1px #dbdbdb;
    width: 100%;
    padding: 10px;
}

.myphoto {
    width: 105%;
    height: 400px;
}

.like {
    border: solid 1px #dbdbdb;
    height: 20px;
    width: 100%;
    padding: 10px;
}

.comments {
    border: solid 1px #dbdbdb;
    height: 20px;
    width: 100%;
    padding: 10px;
    justify-items: space-between;
}

.comments_box1 {
    padding-left: 5px;
    border: white;
    font-style: 10px gray;
    text-align: left;
    line-height: 20px;
}

.comments_box2 {
    float: right;
    border: white;
    text-align: right;
    padding-right: 5px;
    line-height: 20px;
    color: palevioletred;
    font-size: 12px;
}
