<!-- ./feedpage/templates/feedpage/new.html -->
{% extends 'base.html' %}
{% block content %}
    <div class="feed-block">
        <div class="content">NEW FEED</div>
        <form enctype="multipart/form-data" action="{% url 'index' %}" method="POST">
                {% csrf_token %}
            <div class="title">content</div>
            <input name="content" /> <br />
            <div class="title">photo</div> 
            <input name="photo" type="file" required/> <br />
            <button class="submit" type="submit">submit</button>
        </form>
    </div>
{% endblock content %}