<!-- feedpage/templates/base.html -->
{% load  static %} 
{% load sass_tags %}
<link href="{% sass_src 'feedpage/main.scss' %}" rel="stylesheet" type="text/css" /> 
<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>django_yunny</title>
    <link  rel="stylesheet"  href="{% static 'feedpage/style.css' %}" />
  </head>
  <header style="padding: 10px; width: 95%; height: 100px; background-color: #96A5FF; color: white; text-align: left;">
     <div style="text-align: right;">
       {% if user.is_authenticated %}
             Hello, {{ user.get_username }}! 
             <div style = "text-align: right">
              No. of Feeds that I liked : {{ user.like_feeds.count }}
             </div>
             <a href="{% url 'logout'%}?next={{request.path}}">Log out</a>
        {% else %}
             <a href="{% url 'signup' %}">Register in</a>
             <a href="{% url 'login'%}?next={{request.path}}">Sign in</a>
        {% endif %} 
    </div>
    Yunny Feed Page
  </header>
  
  <body>
  {% block content %}
  {% endblock %}
  </body>
</html>