<!-- feedpage/templates/base.html -->
{% load static %}

<!DOCTYPE html>
<html lang="ko">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=d, initial-scale=1.0">
    <title>Snulion</title>
    <link rel="stylesheet" href="{% static 'feedpage/index.css' %}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <link rel="stylesheet" href="https://code.getmdl.io/1.3.0/material.light_green-red.min.css" />
    <script defer src="https://code.getmdl.io/1.3.0/material.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
</head>

<body>
    <div class="mdl-layout mdl-js-layout mdl-layout--fixed-header">
        <header class="mdl-layout__header">
            <div class="mdl-layout__header-row headercss">
                <!-- Title -->
                <a class="mdl-link" href="/feeds/">
                    <span class="mdl-layout-title">FeedPage</span>
                </a>
                <!-- Add spacer, to align navigation to the right -->
                <div class="mdl-layout-spacer"></div>
                <!-- Navigation. We hide it in small screens. -->
                <nav class="mdl-navigation mdl-layout--large-screen-only">
                    {% if user.is_authenticated %}
                    <div style = "margin-right: 20px;">
                        {{ user.get_username }}님, 안녕하세요<br>
                    </div>
                    <div style = "margin-right: 20px;">
                    대학: {{ user.profile.college }}<br>
                    전공: {{ user.profile.major }}<br>
                    내가 좋아한 글 : {{ user.like_feeds.count }}개
                    </div>
                    <a href="{% url 'editaccount'%}?next={{request.path}}">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Edit
                        </button>
                    </a>
                    <a href="{% url 'logout'%}?next={{request.path}}">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Logout
                        </button>
                    </a>
                    {% else %}
                    <a href="{% url 'signup' %}">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Sign up
                        </button>
                    </a>
                    <a href="{% url 'login'%}?next={{request.path}}">
                        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect">
                            Login
                        </button>
                    </a>
                    {% endif %}
                </nav>
            </div>
        </header>
        <div class="mdl-layout__drawer">
            <span class="mdl-layout-title">Title</span>
            <nav class="mdl-navigation">
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
                <a class="mdl-navigation__link" href="">Link</a>
            </nav>
        </div>
        {% block content %}
        {% endblock %}

        <script src="{% static 'feedpage/myjs.js' %}"></script>
</body>

</html>