<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>Liongram</title>
    {% load static %}
    {% load sass_tags %}
    <link rel="stylesheet" href="{% sass_src 'feedpage/main.scss' %}" type="text/css">
    <link href="https://fonts.googleapis.com/css?family=Nanum+Gothic&display=swap&subset=korean" rel="stylesheet">
</head>

<body>
    <div class="header">
        <div class="header_inner">
            <div class="logo">
                <a href="https://www.instgram.com">
                    <img class="logo_img" src="{% static 'feedpage/images/logo_img.png' %}">
                </a>
            </div>
            <div class="search">
                <input class="search_box" type="text" placeholder="검색" />
            </div>
            <div class="button">
                <div class="icon">
                    <a href="https://www.instagram.com/">
                        <img src="{% static 'feedpage/images/bell-regular.svg' %}" />
                    </a>
                </div>
                <div class="icon">
                    <a href="https://www.instagram.com/">
                        <img src="{% static 'feedpage/images/heart-regular.svg' %}" />
                    </a>
                </div>
                <div class="icon">
                    <a href="https://www.instagram.com/">
                        <img src="{% static 'feedpage/images/user-solid.svg' %}" />
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% block content %}
    {% endblock %}
</body>

</html>