<div class="modal" id="logoutModal" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title">로그아웃</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <form method="POST" action="{% url 'account_logout' %}">
            {% csrf_token %}
            <div class="modal-body">
            <p>정말 로그아웃 하시겠습니까?</p>
            </div>
            <div class="modal-footer">
            <button type="submit" id="logout-button" class="btn btn-primary">로그아웃</button>
            <button type="button" class="btn btn-secondary" data-dismiss="modal">취소</button>
            </div>
        </form>
      </div>
    </div>
</div>