
header {
    width: 100%; 
    height:130px;
    background-color: mediumslateblue; 
    color: white;
    border-bottom: 2px solid black;
}

body {
    position:absolute;
    margin:0;
    width:100%;
}

/* logged_in header */

.logged_in {
    width:100%;
    height:100%;
    display:flex;
    justify-content:center;
    align-items:center;
}

.logged_in .info {
    position:absolute;
    right:10px;
    display: flex;
    flex-direction :column;
    justify-content:center;
    
    
}
.logged_in .title {
    display:flex;
    flex-direction:column;
    justify-content:space-between;
    align-items:center;
    /* padding-bottom:15px; */
}

.logged_in .link {
    font-size:14px;   
}

/* logged_out header */
.logged_out {
    width:100%;
    height:100%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}



.snulion {
    font-size: 40px;
}

.new_feed {
    font-size:25px;
}

.feeds {
    display:flex;
    flex-direction:column;
}
.feeds .feed {
    border:1px solid red;
    margin-top:-1px; 
    display:flex;
    flex-direction:column;
    justify-content: flex-start;
    align-items:flex-start;
}
.feed .title {
    margin:auto;
    font-size:25px;
    font-weight:700;
}
.feed .content {
    font-size:20px;
}
.feed .link {
    width:7%;
    display:flex;
    justify-content: space-between;
}