* {
    font-family: 'Nanum Gothic', sans-serif;
    font-size: 15px;
    text-decoration-color: transparent;
    color: rgb(118, 118, 118);
    margin: 0;
    padding: 0;
    background-color: rgb(240, 240, 240);
}

header {
    font-size: 20px;
    text-align: left;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 50px;
    padding-bottom: 10px;
}


.basic_info {
    text-align: left;
    margin-top: 50px;
    margin-left: 100px;
    margin-right: 100px;
    font-size: 12px;
    padding-bottom: 50px;
}

#logout {
    font-weight: bold;
}

.micro_info {
    font-size: 9px;
}

a {
    font-size: 12px;
}

.new_feed {
    text-align: right;
    margin-right: 100px;
    margin-bottom : 50px;
    margin-top: 80px;
}

.feeds {
    margin-left: 100px;
    margin-right: 100px;
    display: flex;
    height: 140px;
    flex-flow: column wrap;
    align-content: flex-start;

    
}

#delete {
    padding-top: 5px;
    font-size: 10px;
    display: flex;
    justify-content: flex-start;
}

#title {
    font-size: 13px;
    font-weight: bold;
    background-color: rgb(219, 231, 233);

}

#contents {
    font-size: 12px;
    font-weight: lighter;
    background-color: rgb(219, 231, 233);


}
