/*#index.css*/
* {
    font-family: 'Nanum Gothic', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    height: 77px; 
    width: 100%; /* 화면 넓이에 꽉 차게 하는 속성 */
    /* position: fixed; 스크롤해도 항상 위에 고정시키는 속성 */
    top: 0; /*화면 가장 위에 위치시키는 속성 */
    /*z-index: 1;*/ /* 배치 순서를 나타내는 속성, 숫자가 클 수록 앞에 보이게 됨 */
    background-color: white;
    border-bottom: 1px solid rgba(var(--b6a,219,219,219),1);
}

.header_inner {
    max-width: 1010px;
    padding: 16px; 
    margin: auto;
    width: 100%;
    display: flex;
}

.logo {
    height: 46px;
    width: auto;
    flex: 1 9999 0%;
}

.logo_img {
    height: 100%;
    width: auto;
}

.search {
    height: 28px;
    width: 215px;
    margin: auto;
}

.search_box {
    height: 100%;
    width: 100%;
    background: #fafafa;
    border: solid 1px #dbdbdb;
    border-radius: 3px;
    color: #999;
    cursor: text;
    font-size: 14px;
    font-weight: 300;
    text-align: center;
}

.button {
    display: flex; 
    flex-direction: row;
    flex: 1;
    justify-content: flex-end; 
    height: 24px;
    margin-top: auto;
    margin-bottom: auto;
}

.icon {
    width: 22px;
    height: 22px;
    margin-left: 15px;
    margin-right: 15px;
}

.feed{
    width:450px;
    height:auto;
    margin:0 auto;
}

.profile{
    width:448px;
    height:40px;
    border: solid 1px gray;
    line-height: 40px;
    font-size: 12px;
}
#vienna {
    width:450px;
}

article {
    height: 252.9px;
}

.feed-inner .icon{
    border: 1px gray;
    position: relative;
    margin: 8px 0px 8px 10px ;
}
.feed-inner input[type=text]{
    display: inline-block;
    width:395px;  
    height: 30px; 
    border: 1px; 
    margin: auto;
}
button{
    display: inline-block;
    width:44px;
    height:32px;
    border: 0px;
    background-color: white;
    color:pink;
}
.feed-inner{
    width:450px;
    margin: 50px 0px auto;
}
section form {
    border: solid 1px gray;
    margin: auto;
}
.icon-banner{
    width:448px;
    border: 1px solid gray;
    margin:auto;
}