{% extends 'base.html' %}

{% block content %}

<div class="edit">
    <h1>Feed edit</h1>
    <form action="/feeds/{{feed.id}}/update" method="POST">
      {% csrf_token %}
      <div>
        title</br>
        <input type = "text" name="title" value="{{ feed.title }}"/> <br />
        content</br>
        <input  type = "text" name="content"  value="{{ feed.content }}"/> <br/>
      </div>
      <div class="edit_button">
        <input type="submit" value="Edit" />
      </div>
  </form>
</div>
{% endblock content %}