<!-- index.html -->

{% extends 'base.html' %}

{% block content %}
    <a href="/feeds/new/" class="new_feed">new feed</a> 
    <div class="feeds">
      {% for feed in feeds %} 
        <div class="feed">
          <p class="title">{{ feed.title }}</p>
          <p class="content">{{ feed.content }}</p>
          <div class="link">
            <a href="/feeds/{{ feed.id }}">더보기</a>
            <a href="/feeds/{{ feed.id }}/delete" onclick="return confirm('정말 삭제?')">삭제</a>
          </div>
        </div>
      {% endfor %}
    </div>
{% endblock content %}