{% extends 'base.html' %}
{% block content %}
    <div class="feed-head">
        <div class="feed-name2">SNULION FEED</div>
        <a href="{% url 'new' %}">
            <button>new feed</button>
        </a>
    </div>
    <div class="feeds">
        {% for feed in feeds %} 
        <div class="feed-block">
            <div class="title">"{{ feed.title }}"</div>
            <div class="feed-button">
                <a href="{% url 'show' feed.id %}">
                    <button>더보기</button>
                </a>
                <a href="{% url 'delete' feed.id %}" 
                    onclick="return confirm('정말 삭제하시겠습니까?')">
                    <button>삭제</button>
                </a>
            </div>
            <div class="content">{{ feed.content }}</div>
        </div>
        {% endfor %} <!-- for를 end시킨다는 뜻! 여기서는 들여쓰기로 끝을 못 내니 -->
    </div>
{% endblock content %}
