{% extends 'base.html' %}

{% block content %}
<div class="Feedcontainer">
    <div class="Feedheader">
        <h1>New feed</h1>
    </div>
    <div class="showcontainer">
        <form action="/feeds/" method="POST">
            {% csrf_token %}
            <h3>Title</h3>
            <input name="title" /> <br>
            <h3>Content</h3>
            <input name="content" /><br> 
            <input class="bts" type="submit" value="submit">
        </form>
    </div>
</div>
</body>
{% endblock content %}
</html>