{% extends 'base.html' %}

{% block content %}
<main class="mdl-layout__content" style="
display: flex;
justify-content: center;">
    <div class="page-content">
        <div class="demo-card-square mdl-card mdl-shadow--2dp" style="width: 500px; margin-top: 50px; display:contents">
        </div>
        <div class="showcontainer">
            <form method="POST" action="{%url 'pwchange'%}">
                {% csrf_token %}
                <h3>비밀번호 변경</h3><br>
                기존 비밀번호:
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 400px;">
                    <input class="mdl-textfield__input" type="password" id="sample3" name='passwordbefore' required>
                    <label class="mdl-textfield__label" for="sample3">Original Password</label>
                </div>
                <br>
                <br>
                새로운 비밀번호:
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 400px;">
                    <input class="mdl-textfield__input" type="password" id="sample3" name='passwordafter1' required>
                    <label class="mdl-textfield__label" for="sample3">New Password</label>
                </div>
                <br>
                <br>
                새로운 비밀번호 확인:
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 400px;">
                    <input class="mdl-textfield__input" type="password" id="sample3" name='passwordafter2' required>
                    <label class="mdl-textfield__label" for="sample3">New Password Check</label>
                </div>
                <br>
                <br>
                <button type="submit" class="mdl-button mdl-js-button" onclick="return confirm('수정하시겠습니까?')">
                    <p>PW change!</p>
                </button>
            </form>
        </div>
        <div class="showcontainer">
            <form method="POST" action="{%url 'editaccount'%}">
                {% csrf_token %}
                <h3>개인정보 수정</h3><br>
                학교:
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 400px;">
                    <input class="mdl-textfield__input" type="text" id="sample3" name='college'
                        value='{{ user.profile.college }}'>
                </div>
                <br>
                <br>
                학교:
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 400px;">
                    <input class="mdl-textfield__input" type="text" id="sample3" name='major'
                        value='{{ user.profile.major }}'>
                </div>
                <br>
                <br>
                비밀번호 확인:
                <br>
                <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label" style="width: 400px;">
                    <input class="mdl-textfield__input" type="password" id="sample3" name='passwordbefore' required>
                    <label class="mdl-textfield__label" for="sample3">Password</label>
                </div>
                <br>
                <br>
                <button type="submit" class="mdl-button mdl-js-button" onclick="return confirm('수정하시겠습니까?')">
                    <p>Edit!</p>
                </button>
            </form>
        </div>
    </div>
</main>
{% endblock content %}

</html>