<!-- accounts/templates/accounts/signup.html -->
{% extends 'base.html' %}
{% block content %}
<h1> Sign Up! </h1>

<form method="POST" action="{%url 'signup'%}"> <!--이름 signup인 url에 접근!!-->
    {% csrf_token %}
    사용자 이름:
    <br>
    <input name="username" type="text" value="">
    <br>
    <br>
    비밀번호:
    <br>
    <input name="password1" type="password" value="">
    <br>
    <br>
    비밀번호 확인:
    <br>
    <input name="password2" type="password" value="">
    <br>
    <br>
    학교:
    <br>
    <input name="college" type="text" value="">
    <br>
    <br>
    전공:
    <br>
    <input name="major" type="text" value="">
    <br>
    <br>
    <input type="submit" value="Sign Up!">
    
</form>
{% endblock content %}